<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./static/src/output.css" rel="stylesheet" />
    <!-- Font khand_bold, Switzer_regular -->
    <link
      href="https://api.fontshare.com/v2/css?f[]=khand@700&f[]=switzer@400&display=swap"
      rel="stylesheet"
    />
    <script src="/static/js/script.js"></script>s
    <title>Login</title>
  </head>
  <body>
    <div class="flex min-h-screen flex-col justify-center px-6 py-12 lg:px-8">
      <div class="sm:mx-auto sm:w-full sm:max-w-sm">
        <!-- <img
          class="mx-auto h-10 w-auto"
          src="https://tailwindui.com/plus/img/logos/mark.svg?color=indigo&shade=600"
          alt="Your Company"
        /> -->
        <!-- <h2
          class="font-khand font-bold text-gray-900 text-linear-65 from-purple-500 to-yellow-300 bg-clip-text"
        ></h2> -->

        <p
          class="mt-10 text-center tracking-wide text-5xl bg-gradient-to-r from-purple-800 to-yellow-300 bg-clip-text font-extrabold font-khand text-transparent ..."
        >
          CCS Sit-In Monitoring System
        </p>
      </div>

      <!-- Flash messages -->
      <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        {% with messages = get_flashed_messages() %} {% if messages %}
        <ul
          id="flash-messages"
          class="bg-yellow-100/30 font-switzer border text-center border-violet-400 text-violet-700 px-4 py-3 rounded relative"
          role="alert"
        >
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %} {% endwith %}
      </div>

      <div
        class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm shadow-lg shadow-violet-800/30 inset-shadow-2xs p-8 rounded-lg"
      >
        <form class="space-y-6" action="/login" method="POST">
          <div>
            <label
              for="username"
              class="block text-sm/6 font-medium font-switzer text-gray-900 tracking-wide"
              >Username</label
            >
            <div class="mt-2">
              <input
                type="text"
                name="username"
                id="username"
                autocomplete="username"
                required
                class="block w-full rounded-md bg-white px-3 py-2.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"
              />
            </div>
          </div>

          <div>
            <div class="flex items-center justify-between">
              <label
                for="password"
                class="block text-sm/6 font-medium font-switzer text-gray-900"
                >Password</label
              >
              <div class="text-sm">
                <a
                  href="#"
                  class="font-switzer text-yellow-300 tracking-wide hover:text-yellow-200 duration-300 ease-in-out delay-150 hover:text-md hover:tracking-wider"
                  >Forgot password?</a
                >
              </div>
            </div>
            <div class="mt-2">
              <input
                type="password"
                name="password"
                id="password"
                autocomplete="current-password"
                required
                class="block w-full rounded-md bg-white px-3 py-2.5 text-base text-gray-900 outline-1 -outline-offset-1 outline-gray-300 placeholder:text-gray-400 focus:outline-2 focus:-outline-offset-2 focus:outline-indigo-600 sm:text-sm/6"
              />
            </div>
          </div>

          <!-- Login Button -->
          <div>
            <button
              type="submit"
              class="flex w-full justify-center rounded-md bg-violet-800 px-3 py-2.5 text-md/6 font-semibold font-switzer tracking-widest text-white shadow-xs hover:bg-violet-400 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500/50"
            >
              Login
            </button>
          </div>
        </form>

        <form method="POST" action="{{ url_for('register') }}">
          <p class="mt-10 text-center text-sm/6 text-gray-500">
            Not a member?
            <button
              type="submit"
              class="font-switzer tracking-wide text-yellow-300 hover:text-yellow-200 duration-300 ease-in-out delay-150 hover:text-md hover:tracking-wider"
            >
              Register now!
            </button>
          </p>
        </form>
      </div>
    </div>
  </body>
</html>
