{% extends 'dashboard.html' %}
{% block content %}
    
    <!-- user profile -->
    <div class="flex flex-col justify-center px-6 py-12 lg:px-8">
      <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <h2
          class="mt-6 text-center text-4xl font-bold font-khand tracking-wider bg-gradient-to-r from-violet-900 to-yellow-400 bg-clip-text text-transparent"
        >
          User Profile
        </h2>
      </div>
      
      
      <!-- User Info -->
      <div
        class="mt-8 sm:mx-auto sm:w-full sm:max-w-md shadow-lg shadow-violet-800/30 inset-shadow-2xs p-8 rounded-lg"
      >
        <div class="space-y-6">
          <div class="text-center">
            <img
              class="inline-block h-24 w-24 rounded-full ring-2 ring-violet-700"
              src="{{ user.photo_url if user.photo_url else './static/src/images/userphotos/defaultphoto.png' }}"
              alt="Profile Photo"
            />
          </div>
          <div>
            <label class="block text-md font-switzer font-semibold  text-gray-900 tracking-wide">ID Number</label>
            <p class="mt-1 text-sm font-switzer ">{{ user.idno }}</p>
          </div>
          <div>
            <label class="block text-md font-switzer font-semibold  text-gray-900 tracking-wide">Name</label>
            <p class="mt-1 text-sm font-switzer ">{{ user.firstname.capitalize() }} {{ user.midname.capitalize()  }} {{ user.lastname.capitalize()  }}</p>
          </div>
          <div>
            <label class="block text-md font-switzer font-semibold  text-gray-900 tracking-wide">Course</label>
            <p class="mt-1 text-sm font-switzer">{{ user.course }}</p>
          </div>
          <div>
            <label class="block text-md font-switzer font-semibold  text-gray-900 tracking-wide">Year Level</label>
            <p class="mt-1 text-sm font-switzer">{{ user.yearlevel }}</p>
          </div>
          <div>
            <label class="block text-md font-switzer font-semibold  text-gray-900 tracking-wide">Email</label>
            <p class="mt-1 text-sm font-switzer">{{ user.email }}</p>
          </div>
          <div>
            <label class="block text-md font-switzer font-semibold  text-gray-900 tracking-wide">Username</label>
            <p class="mt-1 text-sm font-switzer">{{ user.username }}</p>
          </div>
          <div>
            <label class="block text-md font-switzer font-semibold  text-gray-900 tracking-wide">Session</label>
            <p class="mt-1 text-sm font-switzer">{{ user.student_session }}</p>
          </div>
          <div>
            <button
              class="cursor-pointer w-full flex justify-center py-2.5 px-2 border border-transparent rounded-md shadow-sm text-md font-semibold font-switzer tracking-widest text-white bg-violet-800 hover:bg-violet-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500/50"
              onclick="openModal()"
            >
              Edit Profile
            </button>
            <form  action="{{ url_for('dashboard') }}">
                <p class="text-center mt-2">
                    <button
                    type="submit"
                    class="cursor-pointer font-switzer font-semibold tracking-wider text-yellow-300 hover:text-yellow-200 duration-300 ease-in-out delay-150 hover:text-md hover:tracking-widest"
                  >
                    Back to Dashboard
                  </button>
                </p>
            </form>
          </div>
        </div>
      </div>
    </div>

    <!-- Edit Profile Modal -->
    <div id="editModal" class="fixed inset-0 hidden z-50 overflow-y-auto">
      <div class="flex items-center justify-center min-h-screen py-6 px-6">
        <div class="bg-white rounded-lg shadow-lg overflow-hidden w-full max-w-lg">
          <div class="px-6 py-4">
            <h3 class="text-3xl font-bold font-khand text-center tracking-wider bg-gradient-to-r from-purple-800 to-yellow-300 bg-clip-text text-transparent">Edit Profile</h3>
            <form class="space-y-6 mt-4 " action="/edit_profile" method="POST" enctype="multipart/form-data">
              <div class="flex justify-center flex-col items-center shadow-sm inset-shadow-violet-700/50 bg-violet-300/10 p-4 rounded-lg">
                <div class="text-center">
                  <img
                    class="inline-block h-24 w-24 rounded-full m-5 ring-2 ring-violet-700"
                    src="{{ user.photo_url if user.photo_url else './static/src/images/userphotos/defaultphoto.png' }}"
                    alt="Profile Photo"
                  />
                </div>
                <!-- <label for="photo" class="block text-md font-switzer font-semibold tracking-wide text-gray-800">Profile Photo</label>   -->
                <input
                  type="file"
                  name="photo"
                  id="photo"
                  accept="image/*"
                  class="border cursor-pointer file:cursor-pointer border-violet-400 rounded-full file:mr-4 file:rounded-full file:border-0 file:bg-violet-100  file:px-4 file:font-switzer file:py-2 file:text-sm file:font-semibold file:text-violet-700 hover:file:bg-violet-200 "
                />
                
              </div>
              <!-- Id number edit -->
              <!-- <div>
                <label for="idno" class="block text-md font-switzer font-semibold tracking-wide text-gray-800">ID Number</label>
                <input
                  type="text"
                  name="idno"
                  id="idno"
                  value="{{ user.idno }}"
                  required
                  class="block w-full rounded-md py-2.5 px-2 border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                />
              </div> -->
              <div>
                <label for="firstname" class="block text-md font-switzer font-semibold tracking-wide text-gray-800">First Name</label>
                <input
                  type="text"
                  name="firstname"
                  id="firstname"
                  value="{{ user.firstname }}"
                  required
                  class="block w-full rounded-md py-2.5 px-2 border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                />
              </div>
              <div>
                <label for="midname" class="block text-md font-switzer font-semibold tracking-wide text-gray-800">Middle Name</label>
                <input
                  type="text"
                  name="midname"
                  id="midname"
                  value="{{ user.midname }}"
                  required
                  class="block w-full rounded-md py-2.5 px-2 border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                />
              </div>
              <div>
                <label for="lastname" class="block text-md font-switzer font-semibold tracking-wide text-gray-800">Last Name</label>
                <input
                  type="text"
                  name="lastname"
                  id="lastname"
                  value="{{ user.lastname }}"
                  required
                  class="block w-full rounded-md py-2.5 px-2 border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                />
              </div>
              <div>
                <label for="course" class="block text-md font-switzer font-semibold tracking-wide text-gray-800">Course</label>
                <input
                  type="text"
                  name="course"
                  id="course"
                  value="{{ user.course }}"
                  required
                  class="block w-full rounded-md py-2.5 px-2 border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                />
              </div>
              <div>
                <label for="yearlevel" class="block text-md font-switzer font-semibold tracking-wide text-gray-800">Year Level</label>
                <select
                  name="yearlevel"
                  id="yearlevel"
                  required
                  class="block w-full rounded-md py-2.5 px-2 border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                >
                  <option value="1" {% if user.yearlevel == '1' %}selected{% endif %}>1</option>
                  <option value="2" {% if user.yearlevel == '2' %}selected{% endif %}>2</option>
                  <option value="3" {% if user.yearlevel == '3' %}selected{% endif %}>3</option>
                  <option value="4" {% if user.yearlevel == '4' %}selected{% endif %}>4</option>
                </select>
              </div>
              <div>
                <label for="email" class="block text-md font-switzer font-semibold tracking-wide text-gray-800">Email</label>
                <input
                  type="email"
                  name="email"
                  id="email"
                  value="{{ user.email }}"
                  required
                  class="block w-full rounded-md py-2.5 px-2 border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                />
              </div>
              <div>
                <label for="username" class="block text-md font-switzer font-semibold tracking-wide text-gray-800">Username</label>
                <input
                  type="text"
                  name="username"
                  id="username"
                  value="{{ user.username }}"
                  required
                  class="block w-full rounded-md py-2.5 px-2 border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                />
              </div>

              <!-- Change password -->
              <div>
                <label for="old_password" class="block text-md font-switzer font-semibold tracking-wide text-gray-800">Old Password</label>
                <input
                  type="password"
                  name="old_password"
                  id="old_password"
                  class="block w-full rounded-md py-2.5 px-2 border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                />
              </div>
              <div>
                <label for="password" class="block text-md font-switzer font-semibold tracking-wide text-gray-800">New Password</label>
                <input
                  type="password"
                  name="password"
                  id="password"
                  class="block w-full rounded-md py-2.5 px-2 border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                />
              </div>
              <div>
                <label for="confirm_password" class="block text-md font-switzer font-semibold tracking-wide text-gray-800">Confirm New Password</label>
                <input
                  type="password"
                  name="confirm_password"
                  id="confirm_password"
                  class="block w-full rounded-md py-2.5 px-2 border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                />
              </div>
              <!-- Change password - END -->
               
              <div class="flex justify-end">
                <button
                  type="button"
                  class="cursor-pointer py-2 px-4 bg-gray-500 text-white rounded-md hover:bg-gray-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-500"
                  onclick="closeModal()"
                >
                  Cancel
                </button>
                <button
                  type="submit"
                  class="cursor-pointer ml-2 py-2 px-4 bg-violet-800 text-white rounded-md hover:bg-violet-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-violet-500"
                >
                  Save
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
{% endblock %}


