<!DOCTYPE html>
<html lang="en" class="font-switzer" >
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link href="./static/src/output.css" rel="stylesheet" />
    <!-- Font khand_bold, Switzer_regular -->
    <link
      href="https://api.fontshare.com/v2/css?f[]=khand@700&f[]=switzer@400&display=swap"
      rel="stylesheet"
    />
    <script src="/static/js/script.js"></script>
    <title>Registration</title>
  </head>
  <body>
    <div class="flex min-h-full flex-col justify-center px-6 py-12 lg:px-8">
      <div class="sm:mx-auto sm:w-full sm:max-w-md">
        <h2
          class="mt-6 text-center text-4xl font-bold font-khand tracking-wider text-yellow-300"
        >
          Register for an account
        </h2>
      </div>
      <!-- Flash messages -->
      <div class="mt-10 sm:mx-auto sm:w-full sm:max-w-sm">
        {% with messages = get_flashed_messages() %} {% if messages %}
        <ul
          id="flash-messages"
          class="bg-yellow-100/30 font-switzer border text-center border-violet-400 text-violet-700 px-4 py-3 rounded relative"
          role="alert"
        >
          {% for message in messages %}
          <li>{{ message }}</li>
          {% endfor %}
        </ul>
        {% endif %} {% endwith %}
      </div>
      <!-- registration form -->
      <div
        class="mt-8 sm:mx-auto sm:w-full sm:max-w-lg shadow-lg shadow-violet-800/30 inset-shadow-2xs p-8 rounded-lg"
      >
        <form class="space-y-6" action="/register" method="POST">
          <div>
            <!-- left -->
            <div class="grid grid-cols-1 gap-6 sm:grid-cols-2">
              <div>
                <label
                  for="idno"
                  class="block text-md font-switzer font-semibold tracking-wider text-gray-900"
                  >ID Number</label
                >
                <div class="mt-1">
                  <input
                    type="text"
                    name="idno"
                    id="idno"
                    placeholder="1001"
                    value="{{ form.idno if form else '' }}"
                    required
                    class="placeholder:italic placeholder:font-switzer placeholder:text-gray-300 block w-full py-2.5 px-2 rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-violet-500 sm:text-sm"
                  />
                </div>
              </div>
              <div>
                <label
                  for="lastname"
                  class="block text-md font-switzer font-semibold tracking-wider text-gray-900"
                  >Last Name</label
                >
                <div class="mt-1">
                  <input
                    type="text"
                    name="lastname"
                    id="lastname"
                    value="{{ form.lastname if form else '' }}"
                    required
                    class="block w-full py-2.5 px-2 rounded-md border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                  />
                </div>
              </div>
              <div>
                <label
                  for="firstname"
                  class="block text-md font-switzer font-semibold tracking-wider text-gray-900"
                  >First Name</label
                >
                <div class="mt-1">
                  <input
                    type="text"
                    name="firstname"
                    id="firstname"
                    value="{{ form.firstname if form else '' }}"
                    required
                    class="block w-full rounded-md py-2.5 px-2 border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                  />
                </div>
              </div>
              <div>
                <label
                  for="midname"
                  class="block text-md font-switzer font-semibold tracking-wider text-gray-900"
                  >Middle Name</label
                >
                <div class="mt-1">
                  <input
                    type="text"
                    name="midname"
                    id="midname"
                    value="{{ form.midname if form else '' }}"
                    required
                    class="block w-full rounded-md py-2.5 px-2 border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                  />
                </div>
              </div>
            </div>
            <!-- right -->
            <div class="flex flex-col space-y-6">
                <div>
                <label
                  for="course"
                  class="block text-md font-switzer font-semibold tracking-wider text-gray-900 mt-4"
                  >Course</label
                >
                <div class="mt-1">
                  <input
                  type="text"
                  name="course"
                  id="course"
                  value="{{ form.course if form else '' }}"
                  required
                  placeholder="e.g., BSIT"
                  class="placeholder:italic placeholder:font-switzer placeholder:text-gray-300 block w-full font-switzer rounded-md py-2.5 px-2 border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                  />
                </div>
                </div>
              <div>
                <label
                  for="yearlevel"
                  class="block text-md font-switzer font-semibold tracking-wider text-gray-900"
                  >Year Level</label
                >
                <div class="mt-1 font-switzer">
                  <select
                    name="yearlevel"
                    id="yearlevel"
                    required
                    class="block w-full rounded-md py-2.5 px-2 border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                  >
                    <option value="1" {% if form and form.yearlevel == '1' %}selected{% endif %}>1</option>
                    <option value="2" {% if form and form.yearlevel == '2' %}selected{% endif %}>2</option>
                    <option value="3" {% if form and form.yearlevel == '3' %}selected{% endif %}>3</option>
                    <option value="4" {% if form and form.yearlevel == '4' %}selected{% endif %}>4</option>
                  </select>
                </div>
              </div>
              <div>
                <label
                  for="email"
                  class=" block text-md font-switzer font-semibold tracking-wider text-gray-900"
                  >Email Address</label
                >
                <div class="mt-1">
                  <input
                    type="email"
                    name="email"
                    id="email"
                    placeholder="juandelacruz@gmail.com"
                    value="{{ form.email if form else '' }}"
                    required
                    class="placeholder:italic placeholder:font-switzer placeholder:text-gray-300 block w-full rounded-md py-2.5 px-2 border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                  />
                </div>
              </div>
              <div>
                <label
                  for="username"
                  class="block text-md font-switzer font-semibold tracking-wider text-gray-900"
                  >Username</label
                >
                <div class="mt-1">
                  <input
                    type="text"
                    name="username"
                    id="username"
                    placeholder="juandelacruz143"
                    value="{{ form.username if form else '' }}"
                    required
                    class="placeholder:italic placeholder:font-switzer placeholder:text-gray-300 block w-full rounded-md py-2.5 px-2 border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                  />
                </div>
              </div>
              <div>
                <label
                  for="password"
                  class="block text-md font-switzer font-semibold tracking-wider text-gray-900"
                  >Password</label
                >
                <div class="mt-1">
                  <input
                    type="password"
                    name="password"
                    id="password"
                    required
                    class="block w-full rounded-md py-2.5 px-2 border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm focus-visible:"
                  />
                </div>
              </div>
              <div>
                <label
                  for="confirm_password"
                  class="block text-md font-switzer font-semibold tracking-wider text-gray-900"
                  >Confirm Password</label
                >
                <div class="mt-1">
                  <input
                    type="password"
                    name="confirm_password"
                    id="confirm_password"
                    required
                    class="block w-full rounded-md py-2.5 px-2 border-gray-300 shadow-sm focus:border-indigo-500 focus:ring-indigo-500 sm:text-sm"
                  />
                </div>
              </div>
            </div>
            <!-- right -->
          </div>
          <div>
            <button
              type="submit"
              class="w-full flex justify-center py-2.5 px-2 border border-transparent rounded-md shadow-sm text-sm font-semibold font-switzer tracking-widest text-white bg-violet-800 hover:bg-violet-500 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-yellow-500/50"
            >
              Register
            </button>
          </div>
        </form>
        <form action="{{ url_for('returntologin')}}" method="POST">
          <p class="mt-10 text-center text-sm text-gray-500">
            Already a member?
            <button
              type="submit"
              class="font-switzer tracking-wide text-yellow-300 hover:text-yellow-200 duration-300 ease-in-out delay-150 hover:text-md hover:tracking-wider"
            >
              Login
            </button>
          </p>
        </form>
      </div>
    </div>
  </body>
</html>
